.gallery {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 2px solid black;
}

/* LEFT */
.filtered-property {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid red;
  
  align-self: flex-start;
}

/* MIDDLE – STICKY */
.drag-drop {
  position: sticky;
  top: 20px;               /* sticks 20px from top of gallery */
   /* REQUIRED for flex layouts */
  border: 2px solid brown;
  padding: 10px;
  width: 140px;
  height: fit-content;
}

/* DRAG BUTTONS */
.add-fav,
.remove-fav {
  border: 2px solid black;
  padding: 40px 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

/* RIGHT */
.fav-property-display {
  flex: 2;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 2px solid green;
}
