/* ------------------ GALLERY ------------------ */
.gallery {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(244, 240, 240);
  align-items: flex-start; /* align left and right top edges */
}

/* ------------------ LEFT ------------------ */
.filtered-property-main {
  flex: 4; /* take most horizontal space */
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.537);
  box-shadow: 
  0 4px 6px rgba(0, 0, 0, 0.1),
  0 10px 20px rgba(0, 0, 0, 0.08);
}

.filtered-property {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
 
  justify-content: space-evenly;
}

/* ------------------ RIGHT (Favorites + Drag/Remove stacked vertically) ------------------ */
.right-side {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: sticky;
  top: 2px;
  
}

/* Favorites section */
.fav-property-display {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  width: 100%;
  min-width: 250px;
  margin-top: 20px;
  background-color: rgba(243, 247, 241, 0.342);
   box-shadow: 
  0 4px 6px rgba(0, 0, 0, 0.1),
  0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  
}

/* Drag/remove box */
.drag-drop {
  order: 1;
  display: flex;
  min-width: 200px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 10px; /* <-- add this! */
  z-index: 10; /* optional, ensures it stays above other elements */
}

.remove-fav {
  border: 3px dotted rgb(255, 81, 0);
  width: 100%;
  background-color: rgb(232, 156, 156);
}
.add-fav {
  border: 2px solid pink;
}

/* ------------------ VIEW FAVORITES BUTTON ------------------ */
.view-fav-btn {
  display: none;
}

/* ------------------ MOBILE ------------------ */
@media (max-width: 770px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .view-fav-btn {
    display: block;
    margin-bottom: 10px;
  }
  .right-side{
    width: 100%;
  }

 

}
