.gallery {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 2px solid black;
}

/* LEFT */
.filtered-property {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid red;
  
  align-self: flex-start;
}

/* MIDDLE – STICKY */
.drag-drop {
  position: sticky;
  top: 20px;               /* sticks 20px from top of gallery */
   /* REQUIRED for flex layouts */
  border: 2px solid brown;
  padding: 10px;
  width: 140px;
  height: fit-content;
  height: 500px;
}

/* DRAG BUTTONS */
.add-fav,
.remove-fav {
  border: 2px solid black;
  padding: 80px 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

/* RIGHT */
.fav-property-display {
  flex: 2;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 2px solid green;
}
@media (max-width: 700px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
      /* allow items to wrap */
  }

  .fav-property-display {
    order: 3;          /* move below .filtered-property */
      /* full width */
  }

  .filtered-property {
    order: 2;          /* stays on top */
       /* optional: width on wrap */
  }

  .drag-drop {
    order: 1;  
      /* stays last/right */
      /* fixed width */
      display: flex;
      flex-direction: row;
      width: 90%;
      justify-content: space-around;
      padding: 0px;
      height: 100px;
      
  }
  .add-fav,
.remove-fav {
  border: 2px solid black;
  padding: 0px 0px;

  text-align: center;
  
  cursor: pointer;
}
}


