.logo-icon-container{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    
}
.logo-icon-div{
     max-width: 200px;
     
     
}
.logo-icon{
    width: 100%;
    
}
.logo-word{
   margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    
    
}

