/* Card container */
.card {
  width: 320px;
  min-height: 300px;
  background: #d2959546;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid rgb(255, 128, 0);
  padding: 5px;
  margin: 10px;
  
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
}

/* Card body */
.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Image */
.Thumbnail {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Info section */
.property-info {
  display: flex;
  flex-direction: column;
  padding: 14px;
  flex-grow: 1;
}

/* Location */
.location {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 6px;
}

/* Type & bedrooms */
.property-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.type {
  font-weight: bold;
  text-transform: uppercase;
  font-size:15px;
  color: #0077cc;
}

.bedrooms {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size:20px;
}

.icon {
  width: 25px;
}

/* Description */
.description {
  font-size: 18px;
  color: #444;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Price & date */
.price-date {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: auto;
  margin-bottom: 10px;
}

.price {
  color: #1a7f37;
}

.date {
  color: #777;
}

/* Buttons */
.view-more-btn {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  
}

.view-more-btn{
  background: #f1f1f1;
  color: #333;
  margin-bottom: 6px;
}

.view-more-btn:hover {
  background: #e2e2e2;
}

.add-to-fav-btn {
  background: #0077cc;
  color: white;
}



.add-to-fav-btn:hover {
  background: #005fa3;
}
/* Css for the card for smaller devices */
@media(max-width:400px){
  .card{
    width: 270px;
  }
}